$primary-color: #5bb983;
$accent-color: #35495d;
$warn-color: #d13636;
$info-color: #f6f6f6;
$primary-text-color: #fff;

$max-width: 1200px;

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
